<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Управление складом</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="group">
            <h4 class="card-header text-white px-3" style="padding-top:1rem">Склад</h4>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Баланс
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    Поступления
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter2">
                    Отгрузки
                </NavLink>
            </div>
        </div>
        <div class="group">
            <h4 class="card-header text-white px-3" style="padding-top:1rem">Справочники</h4>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    Клиенты
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather2">
                    Единицы измерения

                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather3">
                    Ресурсы
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
