@inherits LayoutComponentBase   

<div class="container-fluid" style=" background-color: #908484">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>

@code {

}
